<div>
    <div class="d-flex flex-column">
        <div class="bd-highlight d-flex justify-content-center">
            <h1>Taches</h1>
            <button class="btn btn-outline-secondary m-1" (click)="loggout()">Logout</button>
        </div>
        <div class="d-flex flex-row justify-content-center ">
            <input id="nomListe" class="saisieInput" type="text" name="liste" placeholder="liste"
                [(ngModel)]="newListe.titre">

            <button id="buttonAjouterListe" class="btn btn-primary" value="Ajouter" (click)='ajouterListe()'>Ajout
                Liste</button>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-baseline" cdkDropListGroup>
            <div class="d-flex flex-row justify-content-between" *ngFor="let liste of listes, let i = index">
                <div class="d-flex flex-column justify-content-center">
                    <h1>{{liste.titre}}</h1>
                    <button class="btn btn-outline-danger m-1" (click)='supprimerListe(liste)'>Supprimer</button>
                    <div class="d-flex flex-column justify-content-center ">
                        <input id="inputAjoutTache" class="saisieInput" type="text" name="tache" placeholder="tache"
                            [(ngModel)]="newTache.titre">

                        <button id="buttonAjoutTache" class="btn btn-primary" value="Ajouter"
                            (click)='ajouterTache(liste.titre)'>Ajouter</button>

                        <div id="{{liste.titre}}" cdkDropList #liste.titre="cdkDropList" [cdkDropListData]="taches"
                            (cdkDropListDropped)="drop($event)">
                            <div class="d-flex flex-row justify-content-between" style="align-items: center;"
                                *ngFor="let tache of (taches | filtreTache:filter); let j = index;" cdkDrag>
                                <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine"
                                *ngIf="tache.statut===liste.titre">
                                <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' "
                                style="padding: 0 10px;" *ngIf="tache.statut===liste.titre">{{tache.titre}}
                            </div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)' *ngIf="tache.statut===liste.titre">Supprimer</button>
                        </div>
                        <div *ngIf="listeLength(taches, liste) === 0" style="opacity: 33; display: flex; justify-content: center; align-items: center; min-height: 50px">Liste vide</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>