<div>
    <div class="d-flex flex-column">
        <div class="bd-highlight d-flex justify-content-center">
            <h1>Taches</h1>
            <button class="btn btn-outline-secondary m-1" (click)="loggout()">Logout</button>

        </div>
        <div class="d-flex flex-row" style="justify-content: space-evenly;">
            <div>
                <h1>Undefined</h1>
                <div class="d-flex flex-row justify-content-center ">
                    <input id="inputAjoutTacheUndefined" class="saisieInput" type="text" name="tache" placeholder="tache"
                        [(ngModel)]="newTacheUndefined.titre">

                    <button id="buttonAjoutTacheUndefined" class="btn btn-primary" value="Ajouter"
                        (click)='ajouterUndefined()'>Ajouter</button>
                </div>
                <div class="d-flex  justify-content-center">
                    <div id="listeTachesUndefined" class="d-flex  flex-column" cdkDropList
                    #listUndefined="cdkDropList"
                    [cdkDropListData]="Undefined"
                    [cdkDropListConnectedTo]="[listEnAttente, listEnCours, listTermine]"
                    (cdkDropListDropped)="drop($event)">
                        <div class="d-flex justify-content-between m-1" style="align-items: center;"
                            *ngFor="let tache of (Undefined | filtreTache:filter)" cdkDrag>
                           
                            <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                            <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' " style="padding: 0 10px;">{{tache.titre}}</div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                            

                        </div>
                        <div style=" opacity: 0;">saveeeeeeeeeeeeeeeeee</div>
                    </div>
                </div>
            </div>
            <div>

                <h1>En Attente</h1>
                <div class="d-flex flex-row justify-content-center ">
                    <input id="inputAjoutTacheEnAttente" class="saisieInput" type="text" name="tache" placeholder="tache"
                        [(ngModel)]="newTacheEnAttente.titre">

                    <button id="buttonAjoutTacheEnAttente" class="btn btn-primary" value="Ajouter"
                        (click)='ajouterEnAttente()'>Ajouter</button>
                </div>
                <div class="d-flex  justify-content-center">
                    <div id="listeTachesEnAttente" class="d-flex  flex-column" cdkDropList
                    #listEnAttente="cdkDropList"
                    [cdkDropListData]="EnAttente"
                    [cdkDropListConnectedTo]="[listUndefined, listEnCours, listTermine]"
                    (cdkDropListDropped)="drop($event)">
                        <div class="d-flex justify-content-between m-1" style="align-items: center;"
                            *ngFor="let tache of (EnAttente | filtreTache:filter)" cdkDrag>
                            <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                            <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' " style="padding: 0 10px;">{{tache.titre}}</div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                        </div>
                        <div style=" opacity: 0;">saveeeeeeeeeeeeeeeeee</div>
                    </div>
                </div>
            </div>
            <div>

                <h1>En Cours</h1>
                <div class="d-flex flex-row justify-content-center ">
                    <input id="inputAjoutTacheEnCours" class="saisieInput" type="text" name="tache" placeholder="tache"
                        [(ngModel)]="newTacheEnCours.titre">

                    <button id="buttonAjoutTacheEnCours" class="btn btn-primary" value="Ajouter"
                        (click)='ajouterEnCours()'>Ajouter</button>
                </div>
                <div class="d-flex  justify-content-center">
                    <div id="listeTachesEnCours" class="d-flex  flex-column" cdkDropList
                    #listEnCours="cdkDropList"
                    [cdkDropListData]="EnCours"
                    [cdkDropListConnectedTo]="[listUndefined, listEnAttente, listTermine]"
                    (cdkDropListDropped)="drop($event)">
                        <div class="d-flex justify-content-between m-1" style="align-items: center;"
                            *ngFor="let tache of (EnCours | filtreTache:filter)" cdkDrag>
                            <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                            <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' " style="padding: 0 10px;">{{tache.titre}}</div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                        </div>
                        <div style=" opacity: 0;">saveeeeeeeeeeeeeeeeee</div>
                    </div>
                </div>
            </div>
            <div>

                <h1>Termine</h1>
                <div class="d-flex flex-row justify-content-center ">
                    <input id="inputAjoutTacheTermine" class="saisieInput" type="text" name="tache" placeholder="tache"
                        [(ngModel)]="newTacheTermine.titre">

                    <button id="buttonAjoutTacheTermine" class="btn btn-primary" value="Ajouter"
                        (click)='ajouterTermine()'>Ajouter</button>
                </div>
                <div class="d-flex  justify-content-center">
                    <div id="listeTachesTermine" class="d-flex  flex-column" cdkDropList
                    #listTermine="cdkDropList"
                    [cdkDropListData]="Termine"
                    [cdkDropListConnectedTo]="[listUndefined, listEnAttente, listEnCours]"
                    (cdkDropListDropped)="drop($event)">
                        <div class="d-flex justify-content-between m-1" style="align-items: center;"
                            *ngFor="let tache of (Termine | filtreTache:filter)" cdkDrag>
                            <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                            <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' " style="padding: 0 10px;">{{tache.titre}}</div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                        </div>
                        <div style=" opacity: 0;">saveeeeeeeeeeeeeeeeee</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
